/* Full page background */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.login-page{
  background-image: url('../assets/bg-login.png');
  background-size: 100% ;
  background-position: topcenter;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 5%;
  position: fixed;
  top: 0;
  left: 0;
}

.login-box {
  width: 520px;
  height: 600px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.95);
  margin-left: 10%;
}

.login-cashier-box {
  width: 520px;
  height: 650px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.95);
  margin-left: 10%;
}

.register-box {
  width: 520px;
  height: 750px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.95);
  margin-left: 10%;
}